batchgenerators==0.23
matplotlib==3.3.4
mistune==0.8.4
numpy==1.18.5
opencv-python==4.5.5.64
pandas==1.1.5
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.4.1
segmentation-models-pytorch==0.2.1
torch==1.9.0
torch-summary==1.4.5
torchaudio==0.9.0
torchsummary==1.5.1
torchvision==0.10.0
tqdm==4.61.1
wandb==0.12.11
